// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";


.container {
  h5 {
    margin-top: 20px;
  }

  h1 {
    padding-top: 25px;
  }


  height: 800px;
}
